@use "../../utils.scss" as *;
@use "../../colors.scss" as *;

footer {
	position: relative;
	width: 100vw;
	height: fit-content;
	min-height: 10vh;
	background-color: $main_color;
	color: $secondary_color;

	copyright {
		position: absolute;
		bottom: 0;
		height: fit-content;
		width: 100%;
		p {
			border-top: 1px solid $secondary_color;
			width: 100%;
			margin: 0;
			@include symmetric_padding(5px, "y");
			text-align: center
		};
	}
}