@use "../../utils.scss" as *;

footer {
	width: 100%;
	height: fit-content;
	background-color: black;

	@include grid_creator(30%, 90%, 1, 3);
	color: white;

	div {
		margin: 5px;
		h3 {
			border-bottom: 1px solid white;
		}

		a {
			color: white;
			text-decoration: none;
		}
	}
}

copyright {
	height: fit-content;
	color: white;
	p {
		border-top: 1px solid white;
		width: 100%;
		background-color: black;
		margin: 0;
		@include symmetric_padding(5px, "y");
		text-align: center
	};
}