@use "./utils.scss" as *;

grid_display {
	width: 100%;
	height: fit-content;
	background-color: gray;

	@include grid_creator(20%, 100%, 1, 3);
}

card {
	background-color: rgb(185, 185, 185);
	border-radius: 10px;
	margin: 5px;

	display: flex;
	flex-direction: column;
	align-items: center;

	img {
		height: 50%;
		width: auto;
	}

	content {
		width: 90%;
		height: 45%;
		background-color: white;
		border-radius: 5px;
		padding: 5px;

		h3 {
			border-bottom: 2px solid rgb(185, 185, 185);
		}
	}
}

text_card {
	background-color: rgb(185, 185, 185);
	border-radius: 10px;
	margin: 5px;

	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		width: 95%;
		border-bottom: 2px solid white;
		margin: 5px;
		font-size: 3em;
		text-align: center;
	}

	p {
		width: 90%;
		margin: 5px;
	}
}