@use "./utils.scss" as *;

image_displayer {
	width: 100%;
	height: 100vh;
	background-color: gray;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	main_display {
		width: fit-content;
		height: 65%;
		display: flex;
		justify-content: center;

		border: 5px dashed black;
		margin-bottom: 5px;
		background-color: rgba(255, 255, 255, 0.479);
		img {
			height: 100%;
			width: auto;
		}
	}

	image_rack {
		height: 30%;
		width: 90%;

		display: flex;

		rack {
			width: fit-content;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.63);

			@include grid_creator(20vw, 90%, 1, 5);
			justify-content: start;
			align-content: center;
			overflow-x: scroll;
			
			div {
				background-color: black;
				border: 2px solid white;

				display: flex;
				align-items: center;
				justify-content: center;

				@include symmetric_margin(2px, "x");
				img {
					width: auto;
					height: 100%;
				}
			}
		}
	}
}