@use "./utils.scss" as *;

sidebar {
	width: 20%;
	height: 100vh;
	position: fixed;
	right: 0;

	background-color: rgb(180, 180, 180);
	padding: 10px;
	//

	button {
		width: 20px;
		height: fit-content;
		position: absolute;
		left: -50px;

		p {
			width: 100%;
			margin: 0;
		}
	}

	content {
		display: block;
		height: 100%;
		width: 100%;
		overflow-y: scroll;
		img {
			width: 70%;
			height: auto;
			margin-left: 15%;
		}

		h1 {
			border-bottom: 2px solid white;
		}

		a {
			color: black;
			text-decoration: none;
			position: relative;
			left: 80%;
		}
	}
}

content::-webkit-scrollbar {
  display: none;
}
