@use "./utils.scss" as *;

title_screen {
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	flex-direction: column;

	title_image { 
		width: 100%;
		height: 80%;
		background-image: url("./media/images/title_screen/placeholder_title_background.png");
		background-repeat: no-repeat;
		background-size: cover;

		overlay {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;


			h1 {
				font-size: 5em;
				text-shadow: 0px 0px 5px grey;
				background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.671) 10% 90%, transparent);
			}
		}
	}

	underlay {
		width: 100%;
		height: 20%;
		background-color: black;
		color: white;

		display: flex;
		justify-content: center;
	}
}