
@mixin symmetric_padding($padding: 5px, $direction: "x") {
	@if($direction == "x") {
		padding: 0 $padding 0 $padding;
	}
	@else if($direction == "y"){
		padding: $padding 0 $padding 0;
	}
}

@mixin symmetric_margin($margin: 5px, $direction: "x") {
	@if($direction == "x") {
		margin: 0 $margin 0 $margin;
	}
	@else if($direction == "y"){
		margin: $margin 0 $margin 0;
	}
}

@mixin grid_creator($cell_x: 30%, $cell_y: 30%, $rows: 3, $columns: 3) {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat($columns, $cell_x);
	grid-template-rows: repeat($rows, $cell_y);
}