body {
	margin: 0;
	background-color: gray;
	overflow-x: hidden;

	background {
		position: fixed;
		z-index: -1;
		width: 100vw;
		height: 100vh;

		img {
			position: inherit;
			width: 100vw;
			height: auto;
		}
	}
}