@use "../utils.scss" as *;

header {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 7vh;
	background-color: black;
	@include symmetric_padding(5px, "y");

	display: flex;
	align-items: center;
	justify-content: space-between;

	//logo
	.logo {
		height: 100%;
		width: auto;
		margin-left: 10%;
	}

	//Links
	header_links {
		display: flex;
		justify-content: space-evenly;

		width: 30%;
		height: fit-content;
		@include symmetric_padding(10px, "x");

		a {
			width: 10%;
			@include symmetric_margin();
			color: white;
			text-decoration: none;
			border-right: 2px solid white;
			border-radius: 5px;
			padding: 2px;
		}
	}
}