@use "../../utils.scss" as *;

link-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	width: fit-content;
	height: 100%;
	background-color: black;

	a {
		text-decoration: none;
		color: white;
		@include symmetric_margin(10px, "x");
	}

	button {
		display: none;
	}

	ham-list {
		display: block;
		position: fixed;
		top: 0;
		background-color: black;
		width: 100vw;
		height: 100vh;
		z-index: 1;
		
		div {
			width: 100%;
			height: fit-content;
			display: flex;
			align-items: center;
			justify-content: end;
			button {
				color: white;
				font-weight: bold;
				font-size: large;
				margin: 10px;				
			}
		}
	}
}

/*link-list.open {
	ham-list {
	}
}*/

@mixin narrow_screen() {
	link-list {
		justify-content: end;
		width: 100%;

		a {
			display: none;
		}

		ham-list {
			a {
				display: block;
				color: white;
				width: 95%;
				padding-left: 5%;
				@include symmetric_margin(5px, "y");
			}
		}

		button {
			display: block;
			background-color: transparent;
			border: none;
			margin-right: 10px;
		}
	}
}

//narrow screen
@media screen and (max-width: $narrow) {
	@include narrow_screen();
}

//medium screen
@media screen and (min-width: $narrow) and (max-width: $medium) {
	@include narrow_screen();
}

//wide screen
@media screen and (min-width: $medium) and (max-width: $wide) {

}