@use "../utils.scss" as *;
@use "../colors.scss" as *;

row {
	width: fit-content;
	height: fit-content;
	max-width: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

column {
	width: fit-content;
	height: fit-content;
	max-width: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

grid {
	@include grid_creator($cell_y: fit-content);
}

grid-generator {
	display: grid;
	justify-content: start;
	div {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		margin: 5px;
	}
}

custom_center {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}


//narrow screen
@media screen and (max-width: $narrow) {
	row {
		flex-direction: column;
	}
	row.static {
		flex-direction: row;
	}
}

//medium screen
@media screen and (min-width: $narrow) and (max-width: $medium) {
	row {
		flex-direction: column;
	}
	row.static {
		flex-direction: row;
	}
}

//wide screen
@media screen and (min-width: $medium) and (max-width: $wide) {
	
}