@use "../../utils.scss" as *;
@use "../../colors.scss" as *;

media-displayer {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 300px;
	height: 500px;

	border: 2px solid $secondary_color;

	img {
		width: 100%;
		height: auto;
	}

	video {
		width: 100%;
		height: auto;
	}
}

media-displayer:hover {
	border: 2px solid $highlight_color;
}

media-displayer.vertical {
	width: 500px;
	height: 300px;

	img {
		width: auto;
		height: 100%;
	}

	video {
		width: auto;
		height: 100%;
	}
}

full-screen-media {
	display: block;
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 3;
	top: 0;

	fc-media {
		display: block;
		width: 100%;
		height: 100%;

		background-color: rgba($main_color, 0.7);

		img {
			height: 80%;
			width: auto;
		}

		button {
			position: absolute;
			right: 50px;
			top: 50px;
		}

		#back {
			position: absolute;
			left: 50px;
			top: 50%;
			width: 30px;
			height: 100px;
		}

		#forward {
			position: absolute;
			right: 50px;
			top: 50%;
			width: 30px;
			height: 100px;
		}
	}
}
