@use "../utils.scss" as *;


//Sidebar

sidebar-fixed {
	display: block;
	width: 20vw;
	height: 100vh;
	position: fixed;
	background-color: rgb(180, 180, 180);
	padding: 1vw;
	z-index: 1;

	sidebar {
		display: block;
		width: 100%;
		height: 100%;

		button {
			width: fit-content;
			height: fit-content;
			position: absolute;
			left: -25px;
			top: 10vh;
			padding: 0;

			p {
				width: 20px;
				margin: 0;
			}
		}

		content {
			display: block;
			height: 100%;
			width: 100%;
			overflow-y: scroll;
		}
	}
}

content::-webkit-scrollbar {
  display: none;
}

.right {
	right: -22vw;
	transition: right 1s;
}

.left {
	left: -22vw;
	transition: left 1s;

	sidebar {
		button {
			left: 22vw;
		}
	}
}

.right.open {
	right: 0;
	transition: right 1s;
}

.left.open {
	left: 0;
	transition: left 1s;
}

//basic popup

popup {
	display: block;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 3;
}

