@use "../utils.scss" as *;
@use "../colors.scss" as *;


//Sidebar

sidebar-fixed {
	display: block;
	width: 20vw;
	height: 100vh;
	position: fixed;
	background-color: $highlight_color;
	z-index: 2;
	top: 0;

	sidebar {
		display: block;
		width: 100%;
		height: 100%;

		button {
			width: fit-content;
			height: fit-content;
			position: absolute;
			top: 7vh;
			padding: 0;

			p {
				width: 20px;
				margin: 0;
			}
		}

		content {
			display: block;
			height: 100%;
			width: 100%;
			overflow-y: scroll;
		}
	}
}

content::-webkit-scrollbar {
  display: none;
}

.right {
	right: -20vw;
	transition: right 1s;

	sidebar {
		button {
			left: -25px;
		}
	}
}

.left {
	left: -20vw;
	transition: left 1s;

	sidebar {
		button {
			right: -25px;
		}
	}
}

.right.open {
	right: 0;
	transition: right 1s;
}

.left.open {
	left: 0;
	transition: left 1s;
}

//basic popup

popup {
	display: block;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 3;
	pointer-events: none;
}



//narrow screen
@media screen and (max-width: $narrow) {
	sidebar-fixed {
		width: 100vw;
	}
	.right { 
		right: -100vw; 
		sidebar {
			button {
				transition: left 1s;
			}
		}
	}
	.left { 
		left: -100vw; 
		sidebar {
			button {
				right: -25px;
				transition: right 1s;
			}
		}
	}

	.right.open {
		sidebar {
			button {
				left: 0;
				transition: left 1s;
			}
		}
	}

	.left.open {
		sidebar {
			button {
				right: 0;
				transition: right 1s;
			}
		}
	}
}

//medium screen
@media screen and (min-width: $narrow) and (max-width: $medium) {
	sidebar-fixed {
		width: 30vw;
	}
	.right { 
		right: -30vw; 
		sidebar {
			button {
				transition: left 1s;
			}
		}
	}
	.left { 
		left: -30vw; 
		sidebar {
			button {
				right: 25px;
				transition: right 1s;
			}
		}
	}
}

//wide screen
@media screen and (min-width: $medium) and (max-width: $wide) {
	sidebar-fixed {
		width: 30vw;
	}
	.right { 
		right: -30vw; 
		sidebar {
			button {
				transition: left 1s;
			}
		}
	}
	.left { 
		left: -30vw; 
		sidebar {
			button {
				right: 25px;
				transition: right 1s;
			}
		}
	}
}
