@use "../../utils.scss" as *;
@use "../../colors.scss" as *;


//Cards will need their own dimension logic based on need
card {
	height: 500px;
	width: 300px;
	background-color: $highlight_color;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;

	display: flex;
	flex-direction: column;
	align-items: center;

	img {
		height: 50%;
		width: auto;
		margin: 5px;
	}

	content {
		width: 90%;
		height: 45%;
		background-color: $secondary_color;
		border-radius: 5px;
		padding: 5px;

		h3 {
			border-bottom: 2px solid $highlight_color;
		}
	}
}

card.text {
	content {
		height: 100%;
		width: 95%;
	}
}

card.horizontal {
	flex-direction: row;
	height: 300px;
	width: 500px;

	img {
		height: auto;
		width: 50%;
	}

	content {
		width: 45%;
		height: 90%;
	}
}


//narrow screen
@media screen and (max-width: $narrow) {
	card {
		height: 80vh;
		width: 90vw;
	}

	card.horizontal {
		flex-direction: column;
		height: 80vh;
		width: 90vw;

		img {
			height: 50%;
			width: auto;
		}

		content {
			width: 90%;
			height: 45%;
		}
	}
}

//medium screen
@media screen and (min-width: $narrow) and (max-width: $medium) {

}

//wide screen
@media screen and (min-width: $medium) and (max-width: $wide) {
	
}
