@use "../../utils.scss" as *;
@use "../../colors.scss" as *;


header {
	position: fixed;
	top: 0;
	width: 100vw;
	height: fit-content;
	min-height: 7vh;
	background-color: $main_color;
	color: $secondary_color;
	z-index: 2;
	@include symmetric_padding(5px, "y");
}
