@use "../../colors.scss" as *;
@use "../../utils.scss" as *;


section {
	display: block;
	background-color: $main_color;
	height: fit-content;
	width: 100%;

	div {
		@include font_controller();
		height: 100vh;
		background-color: rgb(129, 129, 129);
		width: 100%;
	}

}